In [1]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: 14
### Team Member Names: Max Cheng, Nathan Chu, Rahim Merchant, Matthew Yang
### Team Strategy Chosen: Safe

In [37]:
# Constant/Variable Declarations

# Since we must spend all our cash, let's check to make sure it's 0 at the end of our program
capital = 500000

# Final output in Jupyter Notebook
Portfolio_Final = pd.DataFrame()

# DataFrame that our program should write to Stocks_Group_14.csv
Stocks_Final = pd.DataFrame()

In [8]:
'''
- Reads Tickers.csv as a DataFrame
- Turns the first (and only) column into a list
NOTE: Check what the CSV file we will be receiving for the comeptition looks like.
      We will probably have to update this line of code...
'''

ticker_lst = pd.read_csv("Tickers.csv", header=None)[0].tolist()

In [24]:
'''
TODO: Filter the list for invalid or impermissible tickers
- US listed stocks only (so nothing ending in .TO, but we would have to account for other cases too)
'''
american_tickers = ticker_lst

In [25]:
'''
- How do we store the ticker names of the stocks that failed to download?
- The dates at the bottom few rows look like like dividend payments? How do we remove them?
'''

start_date = '2018-01-01'
end_date = '2022-11-16'

data = yf.download(tickers = american_tickers,
                   # threads = True
                   # prepost = True
                   start=start_date,
                   end=end_date)
                   
data

[*********************100%***********************]  62 of 62 completed

4 Failed downloads:
- CELG: No data found, symbol may be delisted
- RTN: No data found, symbol may be delisted
- AGN: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted

            Adj Close                                                   \
                 AAPL       ABBV        ABT         ACN AGN        AIG
Date
2018-01-02  40.950493  78.019859  54.148945  143.127029 NaN  51.953152
2018-01-03  40.943356  79.240784  54.268688  143.787598 NaN  52.529453
2018-01-04  41.133545  78.788872  54.176582  145.490189 NaN  52.739010
2018-01-05  41.601852  80.160431  54.333176  146.690308 NaN  52.957306
2018-01-08  41.447342  78.876076  54.176582  147.862595 NaN  52.608036
...               ...        ...        ...         ...  ..        ...
2022-01-17        NaN        NaN        NaN         NaN NaN        NaN
2022-05-30        NaN        NaN        NaN         NaN NaN        NaN
2022-06-20        NaN        NaN        NaN         NaN NaN        NaN
2022-07-04        NaN        NaN        NaN         NaN NaN        NaN
2022-11-16        NaN        NaN        NaN         NaN NaN        NaN

                                                         ...     Volume  \
                 AMZN        AXP          BA        BAC  ...        SPG
Date                                                     ...
2018-01-02  59.450500  92.141815  282.886444  26.961853  ...  1442900.0
2018-01-03  60.209999  92.709900  283.801270  26.871685  ...  1849300.0
2018-01-04  60.479500  94.251945  282.724365  27.223356  ...  2159500.0
2018-01-05  61.457001  94.466881  294.322357  27.349606  ...  2126500.0
2018-01-08  62.343498  93.597733  295.570740  27.160242  ...  1874900.0
...               ...        ...         ...        ...  ...        ...
2022-01-17        NaN        NaN         NaN        NaN  ...        NaN
2022-05-30        NaN        NaN         NaN        NaN  ...        NaN
2022-06-20        NaN        NaN         NaN        NaN  ...        NaN
2022-07-04        NaN        NaN         NaN        NaN  ...        NaN
2022-11-16        NaN        NaN         NaN        NaN  ...        NaN

                                                                     \
                     T      TD.TO        TGT         TWX        TXN
Date
2018-01-02  42626974.0  2285200.0  8509000.0   5215419.0  4236200.0
2018-01-03  51851150.0  4851700.0  6057500.0   4033141.0  6918900.0
2018-01-04  36894187.0  2878800.0  7124500.0   3544977.0  5460400.0
2018-01-05  29386048.0  3203100.0  5549700.0   5438495.0  5254900.0
2018-01-08  35276524.0  3887200.0  8337200.0  11114059.0  4549400.0
...                ...        ...        ...         ...        ...
2022-01-17         NaN  2209400.0        NaN         NaN        NaN
2022-05-30         NaN  1140100.0        NaN         NaN        NaN
2022-06-20         NaN  2045800.0        NaN         NaN        NaN
2022-07-04         NaN  6319100.0        NaN         NaN        NaN
2022-11-16         NaN        NaN        NaN         NaN        NaN


                  UNH        UNP        UPS        USB
Date
2018-01-02  3485000.0  4298000.0  5413000.0  5367700.0
2018-01-03  2417600.0  4653700.0  5655600.0  5043800.0
2018-01-04  2749100.0  4384900.0  5473100.0  7583600.0
2018-01-05  2432800.0  5381200.0  3699200.0  6863200.0
2018-01-08  2850800.0  5472300.0  3243000.0  6817400.0
...               ...        ...        ...        ...
2022-01-17        NaN        NaN        NaN        NaN
2022-05-30        NaN        NaN        NaN        NaN
2022-06-20        NaN        NaN        NaN        NaN
2022-07-04        NaN        NaN        NaN        NaN
2022-11-16        NaN        NaN        NaN        NaN

[1251 rows x 372 columns]

In [35]:
'''
TODO: Second filtering iteration
- Remove stocks that failed downloads
- Average MONTHLY volume of at least 200,000 shares from Jan 01, 2022 to Oct 31, 2022
'''

filtered_tickers = american_tickers

In [ ]:
'''
TODO: Calculations
Let's discuss how we want to approach this from a finance POV before committing to deep into anything

Some ideas...
1. Fetch beta for each stock, find a combination of 25 that sum to a number close to 0
- Pros: Seems easy enough (famous last words)
- Cons: Everything is becoming more correlated now, we may have to look at individual correlations

2. Create a correlation matrix (Correlation of each stock with each other stock), then pick the
   PAIRS that sum to the lowest number. Ideally, we would have a portfolio of pairs of stocks,
   with the 2 stocks in each pair having perfect NEGATIVE correlation. Thus the portfolio never
   fluctuates.
'''

In [ ]:
'''
Bonus: Can we check to see if any companies are reporting their quarterly earnings over the week
of the competition and try avoid those companies if possible?
'''

In [38]:
# Write to CSV
Stocks_Final.to_csv("Stocks_Group_14.csv")

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Max Cheng, Nathan Chu, Rahim Merchant, Matthew Yang